<div class="container">
    <h1 style="padding: 20px 0;">Search Results</h1>
    <% if (wallpapers.length > 0) { %>
        <div class="row"  data-masonry='{"percentPosition": true }'>
            <% wallpapers.forEach(function(wallpaper) { %>
                <div class="col-sm-6 col-md-4 col-lg-3 masonry-item">
                    <a href="/result/<%= wallpaper._id %>" class="explore-card-link">
                        <div class="card explore-card">
                            <img src="data:<%= wallpaper.img.contentType %>;base64,<%= wallpaper.img.data.toString('base64') %>" class="card-img-top" alt="<%= wallpaper.title %>">
                            <div class="card-body">
                                <h5 class="card-title"><%= wallpaper.title %></h5>
                                <p class="card-text"><%= wallpaper.description %></p>
                            </div>
                        </div>
                    </a>
                </div>
            <% }); %>
        </div>
    <% } else { %>
        <p>No results found for '<%= searchQuery %>'.</p>
    <% } %>
    <div class="pagination">
        <% if (currentPage > 1) { %>
            <a href="/search?page=<%= currentPage - 1 %>">Previous</a>
        <% } %>
        <% if (currentPage < totalPages) { %>
            <a href="/search?page=<%= currentPage + 1 %>">Next</a>
        <% } %>
    </div>
</div>